:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color: #dadada;
  --color-light: #7e7e7e;

  --background: #181818;
  --tab-background: #2b2b2b;
  --border: #929292;

  --active: #e17171;
  --item: #252525;

  --checkbox: #2e2e2e;
  --checkbox-text: #dadada;

  --tooltip: #1e1e1e;

  --red: #f34d4d;
  --green: #4df34d;
  --yellow: #f7c923;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #242424;
    --color-light: #7e7e7e;

    --background: #f5f5f5;
    --tab-background: #e0e0e0;
    --border: #6b6b6b;

    --active: #d14c4c;
    --item: #ffffff;

    --checkbox: #dcdcdc;
    --checkbox-text: #242424;

    --tooltip: #f0f0f0;

    --red: #d93025;
    --green: #188038;
    --yellow: #f9ab00;
  }
}
