.save-view {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem;
  grid-template-columns: repeat(7, minmax(0, 1fr));

  .errors {
    grid-column: 1 / -1;

    .error {
      margin-bottom: 0.5rem;
      color: var(--error);
      padding: 1rem;
      background: var(--item-red);
      border: 1px solid var(--item-red-border);
      border-radius: 5px;
    }
  }
}

@media (max-width: 1700px) {
  .save-view {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (max-width: 1500px) {
  .save-view {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (max-width: 1300px) {
  .save-view {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1050px) {
  .save-view {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  .save-view {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 520px) {
  .save-view {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 1200px) {
  .save-view {
    margin: 0.5rem 0.25rem;
  }
}
