.theme-provider[theme="dark"] {
    --color: #dadada;
    --color-light: #7e7e7e;

    --background: #181818;
    --tab-background: #2b2b2b;
    --border: #929292;

    --active: #71e189;
    --item: #252525;

    --checkbox: #2e2e2e;
    --checkbox-text: #dadada;

    --tooltip: #1e1e1e;

    --red: #f34d4d;
    --green: #4df34d;
    --yellow: #f7c923;
}
