.connection {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;

  color: var(--red);

  &.connected {
    color: var(--green);
  }

  i {
    cursor: pointer;
    transform: translateY(0.1rem);
  }
}
