.bookmark-container {
  display: grid;
  height: 100%;
  width: 100%;

  background-color: var(--item);
  border: 1px solid var(--border);
  border-radius: 8px;

  grid-template-columns: 5fr 4fr;
  grid-template-rows: 5fr 4fr;
  align-items: center;
  justify-items: center;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.192);

  padding: 0;
  overflow: hidden;

  &:has(.bookmark-add-icon) {
    &:hover {
      cursor: pointer;
      border-color: var(--active);
    }
  }
}

.draggable-bookmark {
  padding: 0;
  border: 0;
  background-color: transparent;

  &.dragging {
    opacity: 0.5;

    .bookmark-container {
      border-color: var(--active);
    }
  }

  &:not(.dragging) {
    .bookmark-container:hover {
      border-color: var(--active);
      cursor: pointer;
    }
  }
}

.bookmark-preview,
.bookmark-icon {
  -webkit-user-drag: none;
  user-select: none;
}

.bookmark-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.bookmark-icon {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  pointer-events: none;
}

.bookmark-add-icon {
  user-select: none;
  color: var(--color);
  object-fit: cover;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  font-size: 2rem;
  transform: translateY(-2px);
}

.bookmarks {
  display: block;

  --size: 68px;
  --row-count: 4;
  --gap: 5px;
}

.bookmarks-link {
  color: var(--color);
  background-color: var(--background-darker);
  border: 1px solid var(--border);

  border-radius: 6px;

  text-align: left;
  font-size: 0.8rem;

  margin: 0.5rem;
  margin-bottom: 0;
  padding: 0.2rem;

  min-height: calc(1rem + 4px);

  box-sizing: content-box;

  overflow-x: hidden;
}

.bookmarks-scrollbox {
  display: block;
  height: calc(
    var(--row-count) * (var(--size) + var(--gap)) - var(--gap) + 2px
  );
  padding-bottom: 2px;

  scroll-behavior: auto;

  margin-left: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bookmarks-content {
  width: calc(100% - var(--content-margin) * 2);
  display: grid;
  grid-template-columns: repeat(5, var(--size));
  grid-auto-rows: var(--size);

  margin-right: 0.5rem;

  gap: var(--gap);
}

.bookmark-trash-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  pointer-events: none;

  .bookmark-trash {
    transform: translateY(-4.5rem);
    pointer-events: none;

    border-radius: 4rem;
    padding: 1rem;
    background-color: #b82727b6;
    transition: transform 0.2s ease-in;

    &.show {
      transform: none;
      pointer-events: all;
      transition: transform 0.2s ease-out;
    }

    &.over {
      background-color: #cf2626e1;
    }
  }
}
