.bookmark-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 5fr 4fr;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  background-color: var(--item);
  border: 1px solid var(--border);

  &:hover {
    border-color: var(--active);
    cursor: pointer;
  }
}

.bookmark-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.bookmark-icon {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  pointer-events: none;
}

.bookmark-add-icon {
  user-select: none;
  color: var(--color);
  object-fit: cover;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  font-size: 2rem;
  transform: translateY(-2px);
}

.bookmarks {
  display: block;
}

.bookmarks-link {
  color: var(--color);
  background-color: var(--background-darker);

  text-align: left;
  font-size: 0.8rem;

  margin: 0.5rem;
  margin-bottom: 0;
  padding: 0.2rem;

  min-height: 1.6rem;
}

.bookmarks-scrollbox {
  --row-count: 3;

  display: block;
  max-height: calc(var(--row-count) * (4.1rem + 0.5rem) - 0.5rem);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--border), transparent 50%);
    border-radius: 4px;

    &:hover {
      background-color: var(--border);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background);
  }

  margin-left: 0.5rem;
  overflow-y: auto;
}

.bookmarks-content {
  width: calc(100% - var(--content-margin) * 2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(4.1rem, auto);
  grid-template-rows: repeat(var(--row-count), minmax(4.1rem, auto));

  margin-right: 0.5rem;

  gap: 0.5rem;
}
