@font-face {
  font-family: 'fmg-font';
  src: url('../font/fmg-font.eot?7611357');
  src: url('../font/fmg-font.eot?7611357#iefix') format('embedded-opentype'),
       url('../font/fmg-font.woff2?7611357') format('woff2'),
       url('../font/fmg-font.woff?7611357') format('woff'),
       url('../font/fmg-font.ttf?7611357') format('truetype'),
       url('../font/fmg-font.svg?7611357#fmg-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fmg-font';
    src: url('../font/fmg-font.svg?7611357#fmg-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fmg-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-download:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-bookmark:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-cd:before { content: '\e809'; } /* '' */
.icon-g:before { content: '\e80a'; } /* '' */
.icon-doc:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-cancel-circled-1:before { content: '\e80f'; } /* '' */
.icon-plus-circled:before { content: '\e810'; } /* '' */
.icon-plus-squared:before { content: '\e811'; } /* '' */
.icon-cancel-squared:before { content: '\e812'; } /* '' */
.icon-spin:before { content: '\e830'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
