.checkbox {
  position: relative;
  display: block;
  border: 1px solid var(--border);
  background: var(--background-darker);
  margin: 7px;
  width: 16px;
  height: 16px;
  border-radius: 3px;

  .input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .icon {
    color: var(--active);
    display: block;
    transform: translateY(-1px);
  }
}
